.header {
    background: $dark-blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: $smallSize;
    h1 {
        color: white;
        margin: 0;
      }
  }
  .menuIcon{
    display: none;
    color: #fff;
    font-size: 35px;
    margin-top: 0.7rem;
    float: right;
    
    @media (max-width:600px) {
      display: block;
    }
  }
  
 .links{
    margin-top: 1.3rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    
    @media (max-width:600px) {
      display: none;
    }
    
  }
  
.mobileLinks{
  @extend .links;
  
  @media (max-width:600px) { 
    margin-top: 1.3rem;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    margin-left: -130px;
    
    .link{
      margin: 10px 0;
    }
    }
}

.navLink{
    color: white;
    text-decoration: none;
    font-size: $font-size-large;
}
