.textInput {
    border: 1px solid #cacccd;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $smallSize;
    outline: none;
  }
  
  .select {
    @extend .textInput;
  }
  .datePicker{
    @extend .textInput;
  }
  
  .textarea {
    @extend .textInput;
    height: 10rem;
  }
  
  // Grouped inputs
  
.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: $twoNormalSize;
    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      margin-bottom: $threeNormalSize;
    }
  }
  
.inputGroupItem {
    margin-bottom: $smallSize;
    @media (min-width: $desktop-breakpoint) {
      margin: 0 $threeNormalSize 0 0;
    }
  }