.pageHeader {
    background: $off-white;
    margin-bottom: $normalSize;
    padding: $twoNormalSize 0;
    
    @media (max-width:600px) {
      padding: 10px;
      margin-bottom: $smallSize;
    }
  }
  
  .pageHeaderTitle {
    font-weight: 300;
    margin: 0;
    span {
      font-weight: 700;
    }
  }

.dashboardTitle{
    margin-top: 80px;
    color: $grey;
}  
  